# Порт запуска сервера
PORT=3000

# Пароль для доступа к /admin панели
ADMIN_PASSWORD=shinri-admin-hope-2026

# Секрет сессий
SESSION_SECRET=shinri-trial-danganronpa-hope-secret-2026

# Включите 'true', если сайт работает за Nginx / Cloudflare (для корректной IP-блокировки)
TRUST_PROXY=false
